<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee"
  id="WebApp_ID" version="6.0">
  <display-name>TDSLWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <servlet>
    <servlet-name>LogInAction</servlet-name>
    <servlet-class>action.LogInAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInAction</servlet-name>
    <url-pattern>/LogInAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutAction</servlet-name>
    <servlet-class>action.LogOutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutAction</servlet-name>
    <url-pattern>/LogOutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestAction</servlet-name>
    <servlet-class>action.TestAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestAction</servlet-name>
    <url-pattern>/TestAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SyainJouhouAction</servlet-name>
    <servlet-class>action.SyainJouhouAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SyainJouhouAction</servlet-name>
    <url-pattern>/SyainJouhouAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MastaAction</servlet-name>
    <servlet-class>action.MastaAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MastaAction</servlet-name>
    <url-pattern>/MastaAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserAddAction</servlet-name>
    <servlet-class>action.UserAddAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddAction</servlet-name>
    <url-pattern>/UserAddAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdatePasswordAction</servlet-name>
    <servlet-class>action.UpdatePasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordAction</servlet-name>
    <url-pattern>/UpdatePasswordAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResultUpdatePasswordAction</servlet-name>
    <servlet-class>action.ResultUpdatePasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultUpdatePasswordAction</servlet-name>
    <url-pattern>/ResultUpdatePasswordAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserDelAction</servlet-name>
    <servlet-class>action.UserDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelAction</servlet-name>
    <url-pattern>/UserDelAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResultUserDelAction</servlet-name>
    <servlet-class>action.ResultUserDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultUserDelAction</servlet-name>
    <url-pattern>/ResultUserDelAction</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>UserUpdAction</servlet-name>
    <servlet-class>action.UserUpdAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdAction</servlet-name>
    <url-pattern>/UserUpdAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResultUserUpdAction</servlet-name>
    <servlet-class>action.ResultUserUpdAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultUserUpdAction</servlet-name>
    <url-pattern>/ResultUserUpdAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResultUserAddAction</servlet-name>
    <servlet-class>action.ResultUserAddAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultUserAddAction</servlet-name>
    <url-pattern>/ResultUserAddAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserIchiranAction</servlet-name>
    <servlet-class>action.UserIchiranAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIchiranAction</servlet-name>
    <url-pattern>/UserIchiranAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ResultUserIchiranAction</servlet-name>
    <servlet-class>action.ResultUserIchiranAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultUserIchiranAction</servlet-name>
    <url-pattern>/ResultUserIchiranAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>KaritourokuAction</servlet-name>
    <servlet-class>action.KaritourokuAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KaritourokuAction</servlet-name>
    <url-pattern>/KaritourokuAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SyainJouhouHensyuuAction</servlet-name>
    <servlet-class>action.SyainJouhouHensyuuAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SyainJouhouHensyuuAction</servlet-name>
    <url-pattern>/SyainJouhouHensyuuAction</url-pattern>
  </servlet-mapping>

</web-app>